<nav class="navMenu">
    <div id="main">
        <div class="d1">
            <a href="/">Strona Głowna</a>
        </div>
        <div class="d3">
            
        </div>
    
    </div>
    
    
    
</nav>

    