html
    head
        title WyszukiwarkaCeneo
        link(rel='stylesheet' href='/css/style.css')
        script(src='/js/script.js')
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"crossorigin="anonymous" />
        <link rel="stylesheet" href="./style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"rel="stylesheet" />
    header
        include _header
    body
       block content
        