html
    head
        title WyszukiwarkaCeneo
        link(rel='stylesheet' href='/css/style.css')
        script(src='/js/script.js')
    header
        include _header
    body
       block content
        