extends base

block content

        .container
            .row.gx-2.justify-content-center
                each item in product
                    .card.h-10
                        img(src=item.image)
                        .card-body.p-2
                            .text-center                            
                            for i in item.shops
                                <div class="wys">
                                    h3= i.shopname
                                    h3="Cena " + i.price + " zł" 
                                    //h4=i.redirect
                                    a(href='https://www.ceneo.pl' + i.redirect) Przejdz do sklepu  
                                </div>     
