body{}


.zdj{
    display: flex;
    margin:10ph 0;
    padding:10px;
    box-sizing:border-box;
    width: 300px;
    height: 350px;
} 
h5{
    word-wrap: break-word;
}
.card{
    width: 300px
}
.wys{
    border-style: solid;
    border-radius: 10px;
    border-color: darkgrey;
    border-width: thin;
    margin: 10px;
    padding:10px;
}
.odstep{
    margin: 10px;
}
.main {
    background-color:black;
  }
.d1 {
    border-bottom-style: solid;
    border-bottom-color: #f06b05;
    margin: 10px;
    padding:10px;
      float:left;
    width:143px;
    font-size: large;
  }

.d1 a {
    color: #f06b05;
}

.d1 a:hover {
    color: mediumaquamarine;
    text-decoration: none;
}
  
.d2 {
    border-bottom-style: solid;
    border-bottom-color: #f06b05;
    margin: 10px;
    padding:10px;
    float:left;
    width:96px;
    font-size: large;
  }

.d2 a {
    color: #f06b05;
}

.d2 a:hover {
    color: mediumaquamarine;
    text-decoration: none;
}

.d3 {
    clear:both;
  }
.pm{
    padding: 10px;
    padding-top:0px
  }
  .pm1{
    padding-left: 40px;
    padding-top: 15px;
  }
.szukaj{
    background-color:#f06b05;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight: normal;
    padding:5px 8px;
    text-decoration:none;
    text-shadow:0px -1px 0px #f06b05;
    border: none;
    height: 30px;
    letter-spacing: 2px;
}
.szukaj:hover {
    background-color: darkorange;
}
#cat {
    height: 30px;
}
#sort {
    margin-left: 51%;
    height: 30px;
    width: 176px;
}
#price {
    width: 100px;
}
.name {
    height: 30px;
}

